---
layout: page
---
{% for item in site.pages %}
  {% if item.title == 'Current Projects' %}
    {% assign currentProjects = item.projects %}
  {% endif %}
{% endfor %}

  <article>
  {% for topic in page.topics %}
    <div class="row">
      <div class="col-sm-8">
        <div class="thesis-title">{{topic.title}}</div>
        {% if topic.desc %}
          <div class="periodical"> <em>{{topic.desc}}</em></div>
        {% endif %}
        <div style="text-align: left;">
          {{ topic.contact | prepend: 'Contact: ' | markdownify }}
          </div>
          </div>
          <div class="col col-sm-3 abbr">
           {% if topic.image %} 
             <figure>
                <picture>
                   {% assign project_image_path = topic.image | prepend: 'assets/img/' %}
                   {% assign project_image_class = 'img' %}
                   {% capture sizes %}(min-width: 100px) 30vw"{% endcapture %}
                   {% include figure.liquid loading="eager" path=project_image_path class=project_image_class sizes=sizes alt=topic.logo %}
                </picture>
             </figure>
           {% endif %}
          </div>
    </div>
  {% endfor %}
  </article>
</div>

{% if page.content %}
  <div class="clearfix">
    {{ page.content | markdownify }}
  </div>
{% endif %}
